.Card_size_m {
    grid-template-rows: minmax(min-content, 0.5rem) auto calc(3.1rem + 16px);
    grid-template-areas:
        "header"
        "picture"
        "description";
    height: 311px;
    max-width: 368px;
}

.Card_size_m .Card-Description {
    grid-area: description;
    margin-right: 30px;
    max-height: calc(3rem + 16px);
}

.Card_size_m .Card-Picture,
.Card_size_m .Card-ChannelName {
    grid-area: picture;
}

.Card_size_m .IconHeart,
.Card_size_m .IconNavMore {
    grid-area: description;
    justify-self: end;
}

.Card_size_m .IconHeart {
    align-self: end;
    margin: 5px;
}

.Card_size_m .IconNavMore {
    align-self: start;
    margin: 0 5px;
}
