.Card_size_s {
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "header"
        "content";
    height: 225px;
    max-width: 225px;
}

.Card_size_s .Card-Picture,
.Card_size_s .Card-Description,
.Card_size_s .Card-ChannelName,
.Card_size_s .IconHeart,
.Card_size_s .IconNavMore {
    grid-area: content;
}

.Card_size_s .IconHeart,
.Card_size_s .IconNavMore {
    justify-self: end;
    margin: 5px;
}

.Card_size_s .IconHeart {
    align-self: end;
}

.Card_size_s .IconNavMore {
    align-self: start;
}
