.Card_size_m {
    grid-template-rows: minmax(min-content, 0.5rem) auto auto;
    grid-template-areas:
        "header"
        "picture"
        "description";
}

.Card_size_m .Card-Description {
    grid-area: description;
}

.Card_size_m .Card-Picture,
.Card_size_m .Card-ChannelName {
    grid-area: picture;
}

.Card_size_m .IconHeart,
.Card_size_m .IconNavMore {
    grid-area: picture;
    justify-self: end;
    margin: 5px;
}

.Card_size_m .IconHeart {
    align-self: end;
}

.Card_size_m .IconNavMore {
    align-self: start;
}
